body{
    background-color:teal;
}
   

.container{
   
    width: 400px;
    height: 300px;
    margin: 10% auto;
    position: relative;
    overflow: hidden;
   
    border-radius: 10px;
    
    
}
.container img{
    width: inherit;
    height: inherit;
    overflow: hidden;
    border-radius: 10px;
    
       
}
.container:hover img{
    transform: scale(1.2,1.2);
    
}
.container .content{
    position: absolute;
    top: 0%;
    width: 260px;
    height: 160px;
    color: white;
    margin: 10px;
   
    font-family: Arial, Helvetica, sans-serif;
    transform: perspective(200px) rotateY(90deg);
    transform-origin: left;
    
    transition: all 0.2s;
    border-radius: 10px;
    
    box-shadow: 0 5px 10px black;
}
.container:hover .content{
    transform: perspective(400px) rotateY(0deg);


}
