body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: palegoldenrod;
    
}


h2,form{
    text-align: center;
} 

div{
    background-color: bisque;
    width: 40%;
    border-radius: 10px;
    box-shadow: 9px;
    
    
}          
input,checkbox,select{
    border: none;
    border-radius: 5px;
    text-align: center;
}
.button{
     background-color: green;
     font-size: large;
     padding: 50px;
     margin: 30px;
     display: flex;
     width: 100%;
     font-size: 23px;
}
.button:hover{
    color: lightseagreen;
    background-color: #fff;
}
legend{
    text-align: center;
    color: chocolate;
    font-size: xx-large;
    }
    
#container {
    margin:  50px auto;

}
#container input{
    margin: 10px;
    padding: 10px;
    border-bottom: 3px solid black;
    background-color: transparent;
}
#container :placeholder-shown{
    background-color: #fff;
}

   