body{
    background-color: blue;
    
}
h1{
    display: none;
}

    body{
        background-color: aqua;
    }
    #mobile h1{
        display: block;
        color: black;
        margin: auto;
        text-align: center;
        padding: 50%;
    }